html, body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#piano-roll {
  border-collapse: collapse;
  margin: 0 auto;
}

#piano-roll tr.alter {
  background-color: hsl(180, 50%, 95%);
}

#piano-roll td:nth-child(8n - 6) {
  background-color: hsla(180, 50%, 80%, 0.4);
}

#piano-roll td {
  width: 30px;
  height: 30px;
  border: 1px solid hsl(180, 50%, 80%);
}

#piano-roll td.active {
  background-color: hsl(0, 50%, 50%);
}
