html, body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#grid {
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 auto;
}

#grid tr.alter {
  background-color: hsla(180, 50%, 95%, 0.7);
}

#grid td:nth-child(8n - 6) {
  background-color: hsla(180, 50%, 80%, 0.4);
}

#grid td {
  width: 30px;
  height: 30px;
  border: 1px solid hsl(180, 50%, 80%);
}

.bar.active {
  background-color: hsla(100, 50%, 80%, 0.4);
}

.note {
  width: 30px;
  height: 30px;
  background-color: hsl(0, 50%, 50%);
  border-radius: 5px;
}
